
@media (min-width: 320px) {

  .logo-div {
    color: white;
    background-color: #123456;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5rem;
}

#course-title{
    margin-top: 40px;
}

nav{
    background-color: black;
    color: white;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top:-2px;

}

nav ul li a{
    text-decoration: none;
    color: white;

}

nav ul li a:hover{
    color: yellow;

}

main {
  max-width: 90%;
  margin: 2rem auto;
}

main .cards-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;

}

.card-2, .card-1 {
  background-color: white;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-2 h2, .card-1 h2{
  background-color: #123456;
  padding: 10px;
  margin: -25px -25px 20px -25px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

p{
    font-size: 20px;
}

}