
@media (min-width: 768px){

  nav #navigation-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

}

  nav #navigation-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem 1.5rem;
  }

  #hambtn {
    display: none;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    }
    
    .card-1 p{
      flex: 2;
    }
    
    .card-2 {
      flex: 1;
    }

    .courses-container {
      grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1024px) {
    /* Courses section */
    .courses-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #p1, .last-modified {
        margin-bottom: 0.5rem;
    }
}